@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap');

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html
{
  height: 100%;
  width: 100%;
}

body
{
  align-content: center;
  align-items: space-around;
  background-color: #7C5A3A;
  display: grid;
  justify-items: center;
  height: 100%;
  width: 100%;
}

::selection
{
  background-color: #5da892;
  color: #a4d6ba;
}

canvas { image-rendering: pixelated; }

p
{
  font-family: "Helvetica Neue";
  font-weight: 600;
  position: fixed;
  color: #7EC29B;
  background-color: rgba(32, 22, 13, 0.4);
  margin: 8px 0 0 10px;
  padding: 3px 14px;
  border: 3px solid black;
  border-radius: 10px;
  user-select: none;
}

span
{
  position: absolute;
  font: bold 60px "Helvetica Neue", sans-serif;
  background-color: #7C5A3A;
  text-align: center;
  align-content: center;
  display: grid;
  justify-items: center;
  height: 100%;
  width: 100%;
}

#restart
{
  position: absolute;
  background-color: rgba(32, 22, 13, 0.15);
  border-radius: 10px;
  margin: 18px;
  padding: 7px;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  z-index: 1;
  transition: .2s ease-in-out;
}

#restart:hover
{
  background-color: rgba(32, 22, 13, 0.25);
  width: 85px;
  height: 85px;
}

#restart:focus { outline: 0; }
#unplayable { display: none; }

/* Unplayable screen */
@media(max-width: 549px)
{
  #unplayable
  {
    font: bold 40px "Montserrat", sans-serif;
    display: grid;
    position: absolute;
    text-align: center;
    align-content: center;
    background-color: #7C5A3A;
    width: 100%;
    height: 100%;
    padding: 30px;
    z-index: 1;
  }
}
